@media (max-width: 2056px) {


.a{
    padding: 20px 0px;
    background-color: #fff9f3;
    font-size: 20px;
    color: aqua;


}

.a a:hover{
        text-decoration: none;
        color: #ff9b9b;
    }

     .a a {
    color: rgb(2, 9, 9) !important;
  }

.icon{
    text-align:right;
}


.mail{
    text-align: left;
    font-family: 'Trebuchet MS';
}
.phone{
    text-align: center;
     font-family: 'Trebuchet MS';
}
.fa-facebook:hover {
  color: #3b5998;
}

.fa-youtube:hover {
  color: #FF0000; 
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-whatsapp:hover {
  color: #25D366; 
}

.fa-twitter:hover {
  color: #1DA1F2;
}
.center-nav {
  margin: 0 auto;
}

.centre-nav {
  margin: 0 auto;
}
.navbar{
background-color:#d87093;
 font-family: 'Trebuchet MS';

#d87093
}
.about{
  padding: 50px 0px ;
   font-family: 'Trebuchet MS';
}

.fot{
  margin-top: 20px;
  background-color:#fff9f3 ;
  color: black;
  font-family: 'Trebuchet MS';

}


.navbar-brand{
  width:7%;
}

.formm{
padding: 20px;

}




.testimonials{
  text-align: center;
   font-family: 'Trebuchet MS';
   padding: 20px;
}



.card-deck{
    font-family: 'Trebuchet MS';
    padding: 30px ;

}





.testimonial-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    } 
    
  .card {
      background-color: #fdfdfd;
      border-radius: 15px;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;
    }
       .card:hover {
      transform: scale(1.05);
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    }


.formm{
  font-family: 'Trebuchet MS';
  background-color:#fdfdfd;
}
.navbar-collapse{
  text-align: center;
}
.servicesss{
  font-family: 'Trebuchet MS';
  text-align: center;
}






























}
@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
