@media (max-width: 2056px) {


.a{
    padding: 20px 0px;
    background-color: #fff9f3;
    font-size: 20px;
    color: aqua;


}

.a a:hover{
        text-decoration: none;
        color: #ff9b9b;
    }

     .a a {
    color: rgb(2, 9, 9) !important;
  }

.icon{
    text-align:right;
}


.mail{
    text-align: left;
}
.phone{
    text-align: center;
}
.fa-facebook:hover {
  color: #3b5998;
}

.fa-youtube:hover {
  color: #FF0000; 
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-whatsapp:hover {
  color: #25D366; 
}

.fa-twitter:hover {
  color: #1DA1F2;
}
.center-nav {
  margin: 0 auto;
}

.centre-nav {
  margin: 0 auto;
}
.navbar{
background-color:#d87093;


}
.about{
  padding: 50px 0px ;
}

.fot{
  background-color:#fff9f3 ;
}


.abc{
  width:20%;
}








}
@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
