@media (max-width: 2056px) {


.a{
    padding: 20px 0px;
    background-color: #d87093;
    font-size: 20px;
    color: aqua;


}

.a a:hover{
        text-decoration: none;
        color: #ff9b9b;
    }

    




















}
@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
